<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codenite.ilaaj">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ConversationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AppointmentActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.SplashActivity">
        </activity>
    </application>

</manifest>